version: "3.9"

services:

  # ============================
  # PostgreSQL Database
  # ============================
  postgres:
    image: postgres:15
    container_name: taskpilot_postgres
    restart: always

    environment:
      POSTGRES_USER: nikhil
      POSTGRES_PASSWORD: taskpilot
      POSTGRES_DB: taskpilot_db

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

  # ============================
  # Redis (Queue / Cache)
  # ============================
  redis:
    image: redis:7
    container_name: taskpilot_redis
    restart: always

    ports:
      - "6379:6379"

  # ============================
  # Backend API
  # ============================
  backend:
    build: .
    container_name: taskpilot_backend
    restart: always

    ports:
      - "8000:8000"

    env_file:
      - .env

    depends_on:
      - postgres
      - redis

    volumes:
      - .:/app
      - /app/node_modules

    command: npm run dev

# ============================
# Volumes
# ============================
volumes:
  postgres_data:
